# Build products / editor files
*.dSYM
*.o
__pycache__/
*.pyc
*.SYM
*.xSYM
build
build*/
_CPack_Packages/
*.dmg
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
deployment
GraphicsTest.app
install_manifest.txt
librealmz_lib.a
libSDL3*.dylib
Makefile

# Editor files
.*.swo
.*.swp
.vscode
*.code-workspace

# Finder files
.DS_Store

# Other stuff
divinity.out
realmz.out
